

INDELING
header{
    padding: 5px;
}

body{
    font-family: Verdana;
    font-size: 12px;
    color: brown;
    background-color: burlywood;
    padding: 5px;
}

footer{
    font-style: italic;
    text-align: center;
    padding: 5px;
}


TEXT
h1{
    font-family: Verdana;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

h3{
    padding: 10px 20px;
}

p{
    padding: 20px;
}


ELEMENTEN
ul{
    align-items: center;
    display: flex;
    justify-content: center;
}

ul a{
    color: white;
    text-decoration: none;
    }
li{
    display: inline-block;
    height: 20px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
    background-color: brown;
    }
li:hover{
    background-color: rgb(222, 155, 135);
    border-style: none;
    }

a{
    color: brown;
}

a:hover{
    color: black;
}

table{
    padding: 5px;
    margin: 20px;
    border: 1px brown solid;
}

.th1{
    width: 300px;
}

.th2{
    width: 600px;
}

input[type="text"], input[type="email"], textarea, select, button{
    display: block;
    margin: 15px 20px;
    width: 90%;
    box-sizing: border-box;
}

textarea{
    height: 100px;
    padding: 5px 4px;
    }

button{
    color: white;
    background-color: brown;
    }
button:active{
    background-color: black;
    }

.profilepicture{
    width: 300px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#index, #resume, #contact{
    display: block;
    background-color: white;
    width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#index{
    text-align: center;
}

#resume{
    text-align: left;
}
